@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
}
.container {
    @media (min-width: 1025px) {
        max-width: 1024px;
    }
    @media (max-width: 1024px) {
        padding-left: 42px;
        padding-right: 42px;
    }
    @media (max-width: 767px) {
        padding-left: 34px;
        padding-right: 34px;
    }
    @media (max-width: 319px) and (min-width: auto){
        padding-left: 20px;
        padding-right: 20px;
    }
    margin: 0 auto;
}

html[data-theme='light'] {
    --background-color: #FFFFFF;
    --theme-btn-color: #000000;
    --input-background-color: #FFFFFF;
    --input-text-color: #000000;
    --input-list-hover-text-color: #FFFFFF;
    --input-list-hover-background-color: #0C0C0C;
    --input-created-list-input-background-color: #EFEFEF;
    --input-btn-color: rgba(0, 0, 0, 0.3);
    --input-border: 1px solid rgba(0, 0, 0, 0.3);
    --input-border-selected: 1px solid #000000;
    --input-border-top-selected: 1px solid rgba(0, 0, 0, 0.3);
    --pagination-text-color: #000000;
    --pagination-border: 1px solid #000000;
    --pagination-prevnext-btn-background-color: #FFFFFF;
    --pagination-btn-hover: #EDEDED;
    --pagination-btn-fill: #000000;
    --pagination-btn-disabled-fill: rgba(0, 0, 0, 0.3);
    --pagination-btn-disabled-border: 1px solid rgba(0, 0, 0, 0.3);
    --pagination-currentPage-btn-color: #FFFFFF;
    --pagination-currentPage-btn-background-color: #000000;
}
html[data-theme='dark'] {
    --background-color: black;
    --theme-btn-color: #FFFFFF;
    --input-background-color: #0C0C0C; 
    --input-text-color: #FFFFFF;
    --input-list-hover-text-color: #000000;
    --input-list-hover-background-color: #FFFFFF; 
    --input-created-list-input-background-color: #FFFFFF;
    --input-btn-color: rgba(255, 255, 255, 0.3);
    --input-border: 1px solid #FFFFFF;
    --input-border-selected: 1px solid #FFFFFF;
    --input-border-top-selected: 1px solid rgba(255, 255, 255, 0.3);
    --pagination-text-color: #FFFFFF;
    --pagination-border: 1px solid #FFFFFF;
    --pagination-prevnext-btn-background-color: #000000;
    --pagination-btn-hover: #464646;
    --pagination-btn-fill: #FFFFFF;
    --pagination-btn-disabled-fill: rgba(255, 255, 255, 0.3);
    --pagination-btn-disabled-border: 1px solid rgba(255, 255, 255, 0.3);
    --pagination-currentPage-btn-color: #000000;    
    --pagination-currentPage-btn-background-color: #FFFFFF;
}